@page
@model CokeWikiDemo.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Article.Topic</h1>

<div>@Markdown.ParseHtmlString(Model.Article.Content)</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Topic">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>


